body {
    font-family: Trebuchet MS !important;
    
}

body,
ul,
li {
    padding: 0;
    margin: 0;
}

p
{
    font-size:1em;
}
.green {
    background: #a2ca28;
}

.orange {
    background: #fd634e;
}

.white {
    background: #fff;
}

header {
    background-image: url('../img/header-banner.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.navbar {
   
    background: transparent;
    border: 0;
}

header nav ul {
    padding-right: 30px;
}

header nav li {
    list-style-type: none;
    margin-left: 20px;
    margin-top: 25px;
}

header nav img {
    margin-top: 15px;
    margin-left: 25px;
}

header nav li a {
    text-transform: uppercase;
    color: #fff !important;
    font-size: 15px;
    text-decoration: none;
}

.explore {
    padding: 100px 0px !important;
    color: #fff;
}
.explore .item
{
    height: 300px;
}
.explore h3 {
    line-height: 2em;
    font-weight: bold;
}

.explore p {
    line-height: 2em;
}

.explore img {
    height: 50px;
}

.explore a {
    color: white;
    text-decoration: none;
    top:90%;
    position: absolute;
}

.small-box {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: white;
    height: 394px;
}

.small-box h5 {
    color: #fd634e;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-bottom: 0px;
}

.small-box h3 {
    margin-top: 0px;
    text-align: center;
    text-transform: uppercase;
    color: #a2ca28;
    font-size: 35px;
}

.small-box img {
    display: block;
    margin: 0 auto;
}

.small-box p {
    padding: 20px 30px;
    line-height: 1.6em;
    padding-left: 40px;
    padding-right: 40px;
}

.small-box a {
    color: #a2ca28;
    text-decoration: underline;
    border-width: thin;
    width: 100%;
    display: block;
    text-align: center;
}

.large-box {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.large-text-box {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 331px;
}

.small-image-box {
    padding: 0;
    margin: 0;
    width: 390px;
    height: 328px;
}

.small-text-box {
    overflow: hidden;
    height: 331px;
    padding: 0;
    margin: 0;
}

.small-text-box .left {
    float: left;
}

.small-text-box .right {
    float: right;
}

.small-text-box ul {
    height: 87px;
    list-style: none;
}

.small-text-box .box-header {
    width: 80%;
    padding-left: 40px;
    padding-top: 30px;
}

.small-text-box .image {
    width: 20%;
    padding-top: 40px;
}

.small-text-box h5 {
    color: #fd634e;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.small-text-box h3 {
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 35px;
    color: #a2ca28;
}

.small-text-box p {
    padding: 40px 70px 40px 40px;
}

.large-text-box.green h3 {
    margin: 50px 50px 20px;
    text-transform: uppercase;
    font-size: 35px;
    color: #fff;
    letter-spacing: 2px;
}

.large-text-box.green {
    -webkit-box-shadow: -32px 0px 127px -44px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: -32px 0px 127px -44px rgba(0, 0, 0, 0.53);
    box-shadow: -32px 0px 127px -44px rgba(0, 0, 0, 0.53);
}

.large-text-box.green p {
    margin-left: 50px;
    margin-right: 60px;
    color: #fff;
}

.white.large-text-box ul {
    height: 125px;
    list-style: none;
}

.white.large-text-box .box-header {
    width: 80%;
    padding-left: 40px;
    padding-top: 30px;
}

.white.large-text-box .image {
    width: 20%;
    padding-top: 40px;
    padding-left: 50px;
}

.white.large-text-box h5 {
    color: #fd634e;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.white.large-text-box h3 {
    color: #a2ca28;
    text-transform: uppercase;
    margin-top: 0px;
    font-size: 35px;
}

.white.large-text-box p {
    padding-left: 40px;
    padding-right: 100px;
}

.green.small-text-box h5 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: bold;
}

.green.small-text-box h2 {
    color: #fff;
    font-size: 35px;
    font-weight: lighter;
    margin-top: 0px;
    text-transform: uppercase;
}

.green.small-text-box p {
    color: #fff;
}

.sunset {
    background: url(../img/sunset-icon.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
}

.sunset h2 {
    position: relative;
    top: 300px;
    text-align: center;
    color: #fff;
    font-size: 3em;
}

.sunset p {
    position: relative;
    top: 300px;
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    padding: 0px 130px;;
}

footer {
    background: #0d1119;
    height: 1000vh;
}

footer h4 {
    color: white;
    margin-top: 40px;
    margin-right:
}

footer p:nth-child(1) {
    color: white;
}

footer button {
    background: #a2ca28;
    color: white;
    height: 35px;
}

footer form {
    margin-top: 50px;
    margin-right: 120px;
}

footer li a {
    text-decoration: none;
}

footer li i {
    color: white;
}

footer li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    line-height: 40px;
}

footer .facebook {
    background: #2e3192;
}

footer .twitter {
    background: #00aeef;
}

footer .youtube {
    background: #ed3123;
}

footer .linkedin {
    background: #171a8f;
}

footer ul {
    width: 100%;
    margin-left: -10px;
    margin-top: 20px;
}

footer p {
    margin-top: 20px;
    color:#8297a7;
}

@media all and (max-width: 480px) {

    
   
    .navbar{
        background: #483f36;
    }
    .navbar .navbar-brand img
    
    {
        width: auto;
        height: 38px;
        
        margin-top: -10px;
       margin-left: -5px
        
    }
    
    .explore .item
    {
        text-align: center;
        margin-bottom: 40px;
         
    }
    .explore .item a
    {
         color: white;
    text-decoration: none;
    top:75%;
    width: 100%;
    display: block;
    text-align: center;
        
    }
    
   .sunset h2 {
    position: relative;
    top: 150px;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
}
    

.sunset p {
   

    
    
    
    padding: 10px 50px;;
    position: relative;
top:150px;
    
}
    
    footer form
    {
       
        margin-left: 30px;
    }

@media all  and (min-width: 768px) {
    
    header nav ul {
    padding-right: 5px ;
    margin-right: 0px;
    
}
   
}